@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-image: url(https://i.imgur.com/Mf5yZi3.jpg); background-size: 100%;">
    <h1 style="color:white;">497 Shirts</h1>
    <p class="lead">Lorem Ipsum</p>
</div>

<div class="row">

</div>