@{
    ViewBag.Title = "497 Shirts - Home";
}

<div class="jumbotron" style="background-image: url(https://smhttp-ssl-33667.nexcesscdn.net/manual/wp-content/uploads/2017/06/mens-cropped-trouser-converse-white-t-shirt-hat.jpg); background-size: 100%;">
    <h1 style="color:white;">497 Shirts</h1>
    <p class="lead" style="color:white;">Classics, Made Modern</p>
</div>

<div class="row">

</div>

<body data-spy="scroll" data-target="#myScrollspy" data-offset="1">


    <div id="section1" class="container-fluid bg-success" style="padding-top:70px;padding-bottom:70px">
        <h1>Overview</h1>
        <p>497 is a company based on quality and convienence, offering some of the best quality shirts on an online store that remains aesthetic and convienent to use.</p>
        <p>Our team constantly researches and develops ways to bring the best products to our secure online store for the lowest price possible.</p>
    </div>
    <br /><br />
    <div id="section2" class="container-fluid bg-warning" style="padding-top:70px;padding-bottom:70px">
        <h1>Meet the Team</h1>
        <div class="col-sm-4">
            <img src="http://uamis.org/MIS497SP18/aforan/pics/hinkle.jpg" class="img-thumbnail" width="250" height="250">
            <p>Ben Hinkle</p>
            <p>Technical Analyst</p>
        </div>
        <div class="col-sm-4">
            <img src="http://uamis.org/MIS497SP18/aforan/pics/foran.png" class="img-thumbnail" width="250" height="250">
            <p>Andrew Foran</p>
            <p>Product Owner</p>
        </div>
        <div class="col-sm-4">
            <img src="http://uamis.org/MIS497SP18/aforan/pics/marin.jpg" class="img-thumbnail" width="250" height="250">
            <p>Colton Marin</p>
            <p>Business Analyst</p>
        </div>
    </div>

</body>