@model Website.ViewModels.ReportViewModel

@{
    ViewBag.Title = "CategoryRevenueReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Item Revenue Report</h2>
<br />

<div id="skills">
    <table class="table table-bordered table-hover table-light">
        <thead class="thead-dark">
            <tr>
                <th>Category</th>
                <th>Total Items in Category</th>
                <th>Average Revenue Per Item Sold in Category</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.ReportList)
                {
                    <tr>
                        @if (item.CategoryId == 0)
                        {
                            <th scope="row">T-Shirts</th>
                        }
                        else if (item.CategoryId == 1)
                        {
                            <th scope="row">Long Sleeves</th>
                        }
                        <td>@item.Quantity</td>
                        <td>$@item.AvgRevenue</td>
                    </tr>
                }

        </tbody>
    </table>
</div>

@using (Html.BeginForm("Reports", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="form-group col-lg-12">
            <input type="hidden" value="id" name="save">
            <button id="buttonID" class="btn btn-primary btn-md" type="submit"><span class="glyphicon glyphicon-circle-arrow-left"></span> Return to Report Selection</button>
        </div>
    </div>
}



