@model Website.ViewModels.SizeReportViewModel

@{
    ViewBag.Title = "Item Size Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Item Size Report</h2>
<br />

<div id="skills">
    <table class="table table-bordered table-hover table-light">
        <thead class="thead-dark">
            <tr>
                <th>Size</th>
                <th>Times Sold</th>
                <th>Total Quantity In Stock</th>
            </tr>
        </thead>
        <tbody>

                @foreach (var row in Model.SizeReportList)
                {
                    <tr>
                        <th scope="row">@row.Size</th>
                        <td>@row.TotalQuantitySold</td>
                        <td>@row.TotalQuantityInStock</td>
                    </tr>
                }
        </tbody>
    </table>
</div>

@using (Html.BeginForm("Reports", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="form-group col-lg-12">
            <input type="hidden" value="id" name="save">
            <button id="buttonID" class="btn btn-primary btn-md" type="submit"><span class="glyphicon glyphicon-circle-arrow-left"></span> Return to Report Selection</button>
        </div>
    </div>
}

