@model Website.ViewModels.OrdersViewModel

@{
    ViewBag.Title = "Item Revenue Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Item Revenue Report</h2>
<br />


@{decimal totalRev = 0;}

@if (Model.productsOrdered.Count == 0)
{
    <div class="alert alert-danger">
        <strong>Unable to generate report:</strong> No orders have been placed.
    </div>
}
else
{
    <div id="skills">
        <table class="table table-bordered table-hover table-light">
            <thead class="thead-dark">
                <tr>
                    <th>Product</th>
                    <th>Times Sold</th>
                    <th>Total Revenue Gained</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.productsOrdered)
                {
                    totalRev = (item.Price * item.Quantity);
                    <tr>
                        <th scope="row">@item.ItemName</th>
                        <td>@item.Quantity</td>
                        <td>$@totalRev</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
}

@using (Html.BeginForm("Reports", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="form-group col-lg-12">
            <input type="hidden" value="id" name="save">
            <button id="buttonID" class="btn btn-primary btn-md" type="submit"><span class="glyphicon glyphicon-circle-arrow-left"></span> Return to Report Selection</button>
        </div>
    </div>
}

