@model Website.ViewModels.ProductsViewModel

@{
    ViewBag.Title = "Product List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PRODUCT LIST</h2>
<br />

@{int buttonID = 0;}

@if (Model.Products.Count == 0)
{
    <text>No products found.</text>
}
else
{
    foreach (var product in Model.Products)
    {
        if (product.Viewable == true)
        {
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            @product.Name
                        </h3>
                    </div>
                    <div class="panel-body">
                        <img src=@product.ImageLink>
                    </div>
                    <div class="panel-footer">
                        <div class="text-center">
                            <h5>Size:</h5>
                            <label class="radio-inline">
                                <input type="radio" name="small">Small
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="medium">Medium
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="large">Large
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="xlarge">Extra Large
                            </label>
                            <br /><br />
                        </div>
                        <div class="pull-right">

                            @using (Html.BeginForm("AddProduct", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @Html.HiddenFor(m => m.Products)
                                <div class="row">
                                    <div class="form-group col-lg-12">
                                        <input type="hidden" value="item" name="save">
                                        <button class="btn btn-success btn-md" type="submit"><span class="glyphicon glyphicon-shopping-cart"></span> Add to Cart</button>
                                    </div>
                                </div>
                            }

                            @*<a href="#" id=@buttonID class="btn btn-success btn-md"><span class="glyphicon glyphicon-shopping-cart"></span> Add to Cart</a>*@
                            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
                            <script type="text/javascript">
                                                                                                                    //script here
                            </script>

                        </div>

                        <span class="btn btn-link">$@product.Price</span>

                        <div class="clearfix">
                        </div>
                    </div>
                </div>
            </div>
            buttonID++;
        }
    }
}
